{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<section>
		{# <div class="card-container flex"> #}
		<ul class="card-container flex">
			{% for artwork in artworks %}
				<figure style="--c:#fff5" class="card">
					<img src="{{ asset('images/' ~ artwork.name) }}" alt="{{ artwork.name }}"/>
					<figcaption>{{ artwork.name }}</figcaption>
				</figure>


			{% endfor %}
		</ul>
		{# </div> #}


	</section>


{% endblock %}

{% block javascripts %}
	<script></script>
{% endblock %}
