:root {--c:#fff5}

@font-face {
  font-family: graphik;
  src: url(Graphik-Regular.otf);
}
@font-face {
  font-family: graphik-light;
  src: url(GraphikCompact-Light-Trial.otf);
}

html, *, *:before, *:after 
{ 
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
  
}



body {
  box-sizing: border-box;
  background: #fdfdfd;
  overflow-x: hidden;
  font-family: graphik;
}

header {
  /* height: 100vh; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8.5em 0 4em 0;
  position: relative;
}


section {
  /* margin-top: 200px; */
}


.global-wrapper {
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */
    max-width: 960px; /* 2 */
    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */
}


/*****************************************************************************************************************************/
/****************************************************************************************************************************/
/******************************************************UTILITIES************************************************************/
/**************************************************************************************************************************/
/*************************************************************************************************************************/



.card-container {
  margin: 0 auto;
}

.wrapper {
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */
  padding-right: 10px; /* 3 */
  padding-left:  10px; /* 3 */
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
} 






























/***********************************************************************************************************************************/
/**********************************************************************************************************************************/
/************************************************************** NAVBAR ***********************************************************/
/********************************************************************************************************************************/
/*******************************************************************************************************************************/





label .menu {
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 200px;
  background: rgb(253, 251, 244);
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
  cursor: pointer;
}

label .hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2.5px;
  background: #01011d;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

label .hamburger:after, label .hamburger:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
}

label .hamburger:after {
    height: 3px;
    background: #01011d;}

label .hamburger:before {
    height: 2.5px;
    background: #01011d;
}

label .hamburger:before { top: -10px; }

label .hamburger:after { bottom: -10px; }

label input { display: none; }

label input:checked + .menu {
  box-shadow: 0 0 0 100vw rgb(253, 251, 244), 0 0 0 100vh rgb(253, 251, 244);
  border-radius: 0;
  
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
  
}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
  
}

label input:checked + .menu + ul {
  height: auto;
  animation: appearFromBackground 2s;
  animation-fill-mode: forwards;  
}

label ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: opicity 2s ease-in-out;
    transition: opacity 2s ease-in-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
}

label a {
  margin-bottom: 1em;
  display: block;
  color: #01011d;
  text-decoration: none;
}

li {
    text-transform: uppercase;
    letter-spacing: 1px;
    list-style-type: none;
    margin-right: 1em;
}

li a{
  text-decoration: none;
  color: #01011d;

}

.logo {
        /* position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 80%;
        text-align: center;
        color: #01011d;
        text-transform: uppercase;
        font-size: 48px;
        cursor: pointer; */
}

.logo span {
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 1.8em;
  /* font-weight: 100; */
  margin-right: 2.4em;
  position: absolute;
  right: 1;
  top: 70px;
  font-family: graphik-light;
}

nav ul{
  display: flex;
  justify-content: center;
  align-items: space-around;
  margin-left: 3em;
}

.vertical-nav-container ul li {
  margin-bottom: 40px;
}


@keyframes appearFromBackground {
    0% {
        opicity: 0;
    }

    100% {
        opacity: 1;
    }
}







/***********************************************************************************************************************************/
/**********************************************************************************************************************************/
/************************************************************** CARD *************************************************************/
/********************************************************************************************************************************/
/*******************************************************************************************************************************/





/***********************************************************************************************************************************/
/**********************************************************************************************************************************/
/************************************************************** GALLERY **********************************************************/
/********************************************************************************************************************************/
/*******************************************************************************************************************************/


.container {
	position: relative;
	width: 100%;
	display: flex;
}

.column {
	flex: 1;
	display: flex;
	flex-direction: column;
  /* width: 25%; */
}

img {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(90deg, rgba(164,118,92,1) 0%, rgba(0,0,0,1) 100%);
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: 0.3s;
	cursor: pointer;
	overflow: hidden;
	color: white;
}

.artwork video {
  width: 100% ;
}



/***********************************************************************************************************************************/
/**********************************************************************************************************************************/
/************************************************************** ARTWORK **********************************************************/
/********************************************************************************************************************************/
/*******************************************************************************************************************************/

img {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}

.artwork {
	position: relative;
	overflow: hidden;
	width: 100%;
}




.artwork:hover .overlay {
	opacity: 0.8;
}

































/***********************************************************************************************************************************/
/**********************************************************************************************************************************/
/************************************************************** MEDIA-QUERY ******************************************************/
/********************************************************************************************************************************/
/*******************************************************************************************************************************/


@media screen and (min-width: 601px) {
	.container {
		
		gap: 10px;
		
	}
	
	.column {
		
		gap: 8px;
	}
	
}