:root {--c:#fff5}


html, *, *:before, *:after 
{ 
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}



body {
  box-sizing: border-box;
  background: #fdfdfd;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
}

header {
  height: 100vh;
}

section {
  margin-top: 200px;
}

.global-wrapper {
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */
    max-width: 960px; /* 2 */
    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */
}

/*****************************************************************************************************************************/
/****************************************************************************************************************************/
/******************************************************UTILITIES************************************************************/
/**************************************************************************************************************************/
/*************************************************************************************************************************/



.card-container {
  margin: 0 auto;
}































/***********************************************************************************************************************************/
/**********************************************************************************************************************************/
/************************************************************** NAVBAR ***********************************************************/
/********************************************************************************************************************************/
/*******************************************************************************************************************************/





label .menu {
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 200px;
  background: rgb(253, 251, 244);
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
  cursor: pointer;
}

label .hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2.5px;
  background: #01011d;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

label .hamburger:after, label .hamburger:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
}

label .hamburger:after {
    height: 3px;
    background: #01011d;}

label .hamburger:before {
    height: 2.5px;
    background: #01011d;
}

label .hamburger:before { top: -10px; }

label .hamburger:after { bottom: -10px; }

label input { display: none; }

label input:checked + .menu {
  box-shadow: 0 0 0 100vw rgb(253, 251, 244), 0 0 0 100vh rgb(253, 251, 244);
  border-radius: 0;
  
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
  
}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
  
}

label input:checked + .menu + ul {
  height: auto;
  animation: appearFromBackground 2s;
  animation-fill-mode: forwards;  
}

label ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: opicity 2s ease-in-out;
    transition: opacity 2s ease-in-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
}

label a {
  margin-bottom: 1em;
  display: block;
  color: #01011d;
  text-decoration: none;
}

li {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    list-style-type: none;
}

.logo {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 80%;
        text-align: center;
        color: #01011d;
        text-transform: uppercase;
        font-size: 48px;
        cursor: pointer;
}

@keyframes appearFromBackground {
    0% {
        opicity: 0;
    }

    100% {
        opacity: 1;
    }
}







/***********************************************************************************************************************************/
/**********************************************************************************************************************************/
/************************************************************** CARD *************************************************************/
/********************************************************************************************************************************/
/*******************************************************************************************************************************/


/* .content img {
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 3s ease;
}

.card {
  display: grid;
  height: 400px;
  width: 400px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  margin: 40px ;
  border-radius: 2px;
  overflow: hidden;
  cursor: pointer;
}

h5 {
  display: grid;
  align-items: end;
  font-family: sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
  color: #0000;
  padding: .75rem;
  background: var(--c,#0009);
  clip-path: inset(0 var(--_i,100%) 0 0);
  -webkit-mask:
    linear-gradient(#000 0 0),
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  -webkit-mask-clip: text, padding-box;
}

card:hover h5{
  --_i: 0%; 
}

card:hover img {
  transform: scale(1.2);
}

.card > * {
  grid-area: 1/1;
  transition: .4s;
} */

figure {
  display: grid;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  height: 400px; /* set a fixed height for the card */
  width: 400px;
  margin: 20px;
}
figure > * {
  grid-area: 1/1;
  transition: .4s;
}
figure figcaption {
  display: grid;
  grid-auto-flow: column;
  align-items: end;
  font-family: sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
  color: #0000;
  background: var(--c,#0009);
  clip-path: inset(0 var(--_i,100%) 0 0);
  -webkit-mask:
    linear-gradient(#000 0 0),
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  -webkit-mask-clip: text, padding-box;
}
figure:hover figcaption{
  --_i: 0%;
}
figure:hover img {
  transform: scale(1.2);
}
@supports not (-webkit-mask-clip: text) {
  figure figcaption {
   -webkit-mask: none;
   color: #fff;
  }

  img {
    
  }

}














































/***********************************************************************************************************************************/
/**********************************************************************************************************************************/
/************************************************************** MEDIA-QUERY ******************************************************/
/********************************************************************************************************************************/
/*******************************************************************************************************************************/

@media(min-width: 768px) {

  .wrapper {
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */

    max-width: 1480px; /* 2 */

    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */
  }

  /* .grid {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-auto-flow: column;
    place-content: center;
    background: #425a52;
  } */

  
  .content {
    min-width: 100%;
    min-height: 100%;
  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  } 





}

