
<ul class="nav-global flex">
				<li class="li-nav-global"><a href="#">Catherine Aznar</a></li>
				<li class="li-nav-global"><a href="#">Biographie</a></li>
				<li class="li-nav-global"><a href="#">Contact</a></li>
</ul>