<header>
		{# <label>
			<input type="checkbox">
			<span class="menu">
				<span class="hamburger"></span>
			</span>
			<ul>
				<li><a href="#">Catherine Aznar</a></li>
				<li><a href="#">Biographie</a></li>
				<li><a href="#">Contact</a></li>
			</ul> #}

			<nav>
				<ul>
					<li><a href="#">Actualités</a></li>
					<li><a href="#">Créations</a></li>
					<li><a href="#">Collaborations</a></li>
					<li><a href="#"></a>À propos</li>
					<li><a href="#">Contact</a></li>
				</ul>
			</nav>
			<div class="logo">
				<span>Catherine Aznar</span>
			</div>
		</label>
	</header>
{# <span class="logo">Catherine Aznar</span> #}