<header>
		<label>
			<input type="checkbox">
			<span class="menu">
				<span class="hamburger"></span>
			</span>
			<ul>
				<li><a href="#">Catherine Aznar</a></li>
				<li><a href="#">Biographie</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</label>
	</header>
<span class="logo">Catherine Aznar</span>